@font-face {
    font-family: 'MontserratRegular';
    src: url('/font/MONTSERRAT-REGULAR.OTF') format('otf'),
    url('/font/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MontserratBlack';
    src: url('/font/MONTSERRAT-BLACK.OTF') format('otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url('/font/MONTSERRAT-SEMIBOLD.OTF') format('otf'),
    url('/font/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.separator{
    margin-top: 50px;
}
.separator1
{
    margin-top: 100px;
}
.separator2
{
    margin-top: 200px;
}

body{
    font-family: 'Montserrat-Regular';
    
}

body{
    background-color: #121212 !important;
    color: white !important;
}

header .logo
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.messageBienvenue
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.messageBienvenue h1{
    font-size: 200px;
    font-weight: 600;
    letter-spacing: 10px;
}

.messageBienvenue p
{
    font-size: 14px;
}
.descriptionExperience
{
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
}

.boutonContainer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.boutonCommencer
{
    border-radius: 40px;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
    border: solid 2px white;
    background-color: #121212;
    color: white;
    transition-duration: 0.3s;
}

.boutonCommencer:hover
{
    background-color: white;
    color: #121212;
}

.choix
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.choix h2{
    font-size: 20px;
}

.choix p
{
    font-size: 14px;
}

.presentationCours{
    text-align: justify;
}

.boutonRetour
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.boutonRetour .flecheRetour
{
    max-width: 5%;
    padding: 15px;
    border-radius: 40px;
    border: solid 2px white ;
    transition-duration: 0.3s;
}

.boutonRetour .flecheRetour:hover{
    
    padding: 10px;
}

.enonce
{
    text-align: justify;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.titreChoixQuestion h2
{
    text-align: center;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
}

.choixQuestion{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.reponse
{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.photo
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.photo img
{
    border-radius: 100%;
}